<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AddRecipes</title>
</head>
<body>
<form name="" th:action="@{/Chefhome/}+${id}+@{/doAddRecipes}" method="post" >
    <h3 style="margin-left: 500px">All Ingredients List</h3>
    <table style="border-collapse:separate; border-spacing:100px 10px; margin-left: 150px;margin-top: 10px" align="center">
        <h3  id="welcome" style=" margin-left: 300px" ></h3>
        <tr>
            <td>Ingredient ID</td>
            <td>Ingredient Name</td>
            <td>Ingredient fiber</td>
            <td>Ingredient sugar</td>
            <td>Ingredient protein</td>
        </tr>
        <tr th:each="ingres: ${allIngredients}">
            <td th:text="${ingres.getIngredient_id()}"></td>
            <td th:text="${ingres.getIngredient_name()}"></td>
            <td th:text="${ingres.getG_fiber()}"></td>
            <td th:text="${ingres.getG_sugar()}"></td>
            <td th:text="${ingres.getG_protein()}"></td>
        </tr>
    </table>
    <h3 style="margin-left: 500px">Create your ingredients</h3>

    <input type="text" name="recipes_id" value="" placeholder="recipes id" class="form-control" style="width: 200px; margin-left: 400px; margin-top: 20px;" /><br/>

    <input type="text" name="recipes_name" value="" placeholder="recipes name" class="form-control" style="width: 200px; margin-left: 400px; margin-top: 20px;" /><br/>

    <input type="text" name="recipes_desc" value="" placeholder="recipes description" class="form-control" style="width: 600px; margin-left: 400px; margin-top: 20px;" /><br/>

    <input type="text" name="ingredients_ids" value="" placeholder="the ingredients you need ,spilt with blank" class="form-control" style="width: 600px; margin-left: 400px; margin-top: 20px;" /><br/>

    <input type="submit" value="Add Menu" class="btn btn-success" style="margin-left: 400px;" >
    <a th:href="@{/Chefhome/}+${id}" style="width: 150px;">
        <input class="btn btn-default" type="button" value="Return to Chef home page">
    </a>


</form>





</body>
</html>