<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chef login</title>
</head>

<body>
<form name="" action="/doCheflogin" method="post" align="center">
    <h3>Chef login</h3>
    <div>
        <div>
            <input type="text" name="id" value="" placeholder="职工ID"
                   class="form-control" style="width: 200px"/><br/>
        </div>

        <div>
            <input type="password" name="password" value="" placeholder="密码"
                   class="form-control" style="width: 200px;"/><br/>
        </div>

        <input type="submit" value="登录" class="btn btn-success"
               style="margin-left: 5px">
    </div>

</form>
</body>

</html>
