<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UserHome</title>
</head>

<body>
<h3  style=" margin-left: 550px" >Resturant's Meue</h3>
<table style="border-collapse:separate; border-spacing:100px 10px;" align="center">
    <tr>
        <td>Recipes ID</td>
        <td>Recipes Name</td>
        <td>Recipes Description</td>
    </tr>
    <tr th:each="rec: ${AllRecipes}">
        <td th:text="${rec.getId()}"></td>
        <td th:text="${rec.getName()}"></td>
        <td th:text="${rec.getDesc()}"></td>
    </tr>

    <tr>
        <td>
            <a th:href="@{/Chefhome/}+${id}+@{/AddRecipes}" style="width: 200px;">
                <input class="btn btn-default" type="button" value="Add New recipes to Menu">
            </a>
        </td>
        <td>
            <a th:href="@{/Chefhome/}+${id}+@{/DeleteRecipes}" style="width: 200px;">
                <input class="btn btn-default" type="button" value="Delete recipe from Menu">
            </a>
        </td>

        <td>
            <a th:href="@{/home}" style="width: 200px;">
                <input class="btn btn-default" type="button" value="Return to home page">
            </a>
        </td>
    </tr>

</table>
</body>
</html>