<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AddRecipes</title>
</head>
<body>
<form name="" th:action="@{/Chefhome/}+${id}+@{/doDeleteRecipes}" method="post" >
    <h3  style=" margin-left: 550px" >Resturant's Meue</h3>
    <table style="border-collapse:separate; border-spacing:100px 10px; margin-left: 150px;margin-top: 10px" align="center">
        <tr>
            <td>Recipes ID</td>
            <td>Recipes Name</td>
            <td>Recipes Description</td>
        </tr>
        <tr th:each="rec: ${AllRecipes}">
            <td th:text="${rec.getId()}"></td>
            <td th:text="${rec.getName()}"></td>
            <td th:text="${rec.getDesc()}"></td>
        </tr>
    </table>
    <h5  style=" margin-left: 500px" >Please enter the id of which recipe you want to delete</h5>
    <table>
        <tr>
            <td>
            <input type="text" name="recipes_id" value="" placeholder="recipes id " class="form-control" style="width: 200px;margin-left: 400px" /><br/>
            </td>
            <td>
             <input type="submit" value="Delete it from Menu" class="btn btn-success" style="width: 200px; " >
            <td>
            <td>
             <a th:href="@{/Chefhome/}+${id}" style="width: 200px;">
             <input class="btn btn-default" type="button" value="Return to Chef home page">
             </a>
            <td>
        </tr>
    </table>
</form>
</body>
</html>
