<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View all Users</title>
</head>
<body>
<form name="" th:action="@{/Adminhome/}+${id}+@{/doDismissedChefsByAdmin}" method="post" >
    <h3 style="margin-left: 500px">All Chefs List</h3>
    <table style="border-collapse:separate; border-spacing:100px 10px; margin-left: 150px;margin-top: 10px" align="center">

        <tr>
            <td>User ID</td>
            <td>User Name</td>
            <td>User password</td>
            <td>User Security Level</td>

        </tr>
        <tr th:each="c: ${allChef}">
            <td th:text="${c.getUser_id()}"></td>
            <td th:text="${c.getUsername()}"></td>
            <td th:text="${c.getUser_password()}"></td>
            <td th:text="${c.getSecurity_level()}"></td>
        </tr>
        <tr>
            <td>

                <input type="text" name="chef_id" value="" placeholder="chef's id that you want to dismiss"  class="form-control" style="width: 235px;"/><br/>
            </td>
            <td>
                <input type="submit" value="Dismiss selected chef" class="btn btn-success" style="width: 155px;">
            </td>
            <td>

                <a th:href="@{/Adminhome/}+${id}" style="width: 150px;">
                    <input class="btn btn-default" type="button" value="Return to Admin home page">
                </a>
            </td>
        </tr>
    </table>
</form>
</body>
</html>