<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>updatePassword</title>
</head>
<body>

<form name="" th:action="@{/userhome/}+${id}+@{/doUpdateAccount}" method="post" align="center">
    <h3>修改个人信息</h3>
    <div>
        <div>
            <input type="text" name="username" value="" placeholder="新的用户名"
                   class="form-control" style="width: 200px"/><br/>
        </div>

        <div>
            <input type="password" name="password" value="" placeholder="新的密码"
                   class="form-control" style="width: 200px;"/><br/>
        </div>

        <input type="submit" value="提交修改" class="btn btn-success"
               style="margin-left: 5px">
    </div>

</body>
</html>