<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UserHome</title>
</head>

<body>

        <a href="" id="delete"  style=" margin-left: 10px; margin-top: 50px;position: absolute">
          <button style="background-color: #00FFFF;width: 140px;height: 36px;color: #000000">DeleteAccount</button>
        </a>

         <a href="" id="update" style="margin-left: 10px; margin-top: 110px;position: absolute">
          <button style="background-color: #00FFFF;width: 140px;height: 36px;color: #000000">UpdateAccount</button>
        </a>
        <a href="" id="AddFavorite" style="margin-left: 10px; margin-top: 170px;position: absolute">
            <button style="background-color: #00FFFF;width: 140px;height: 36px;color: #000000">AddFavoriteRecipes</button>
        </a>
        <a href="" id="DeleteFavorite" style="margin-left: 10px; margin-top: 230px;position: absolute">
            <button style="background-color: #00FFFF;width: 140px;height: 36px;color: #000000">DeleteFavoriteRecipe</button>
        </a>
        <a href="/home"  style="margin-left: 10px; margin-top: 290px;position: absolute">
            <button style="background-color: #00FFFF;width: 140px;height: 36px;color: #000000">return home page</button>
        </a>

     <table style="border-collapse:separate; border-spacing:100px 10px; margin-left: 150px;" align="center">
         <h3  id="welcome" style=" margin-left: 300px" ></h3>
          <tr>
                <td>Recipes ID</td>
               <td>Recipes Name</td>
               <td>Recipes Description</td>
         </tr>
         <tr th:each="rec: ${Recipes}">
                <td th:text="${rec.getId()}"></td>
                <td th:text="${rec.getName()}"></td>
               <td th:text="${rec.getDesc()}"></td>
          </tr>
    </table>


</body>
<script type="text/javascript" th:inline="javascript">
    var temp=[[${id}]];
    var address1="http://localhost:8080/userhome/"+temp+"/DeleteAccount";
    var link1=document.getElementById("delete");
    link1.setAttribute("href",address1);
    var address2="http://localhost:8080/userhome/"+temp+"/UpdateAccount";
    var link2=document.getElementById("update");
    link2.setAttribute("href",address2);
    var address3="http://localhost:8080/userhome/"+temp+"/AddFavoriteRecipes";
    var link3=document.getElementById("AddFavorite");
    link3.setAttribute("href",address3);
    var address4="http://localhost:8080/userhome/"+temp+"/DeleteFavoriteRecipes";
    var link4=document.getElementById("DeleteFavorite");
    link4.setAttribute("href",address4);

    var wel="Welcome,"+[[${name}]]+"! Here are your favorite recipes";
    document.getElementById("welcome").innerHTML=wel;
</script>
</html>

