<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Chefs List</title>
</head>
<body>
<h3 style="margin-left: 500px">All Chefs List</h3>
<table style="border-collapse:separate; border-spacing:100px 10px; margin-left: 150px;margin-top: 10px" align="center">

    <tr>
        <td>User ID</td>
        <td>User Name</td>
        <td>User password</td>
        <td>User Security Level</td>

    </tr>
    <tr th:each="c: ${allChef}">
        <td th:text="${c.getUser_id()}"></td>
        <td th:text="${c.getUsername()}"></td>
        <td th:text="${c.getUser_password()}"></td>
        <td th:text="${c.getSecurity_level()}"></td>
    </tr>
</table>
<a th:href="@{/Adminhome/}+${id}" style="width: 150px;margin-left: 500px">
    <input class="btn btn-default" type="button" value="Return to admin home page">
</a>
</body>
</html>