<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AddFavoriteRecipes</title>
</head>
<body>
    <form name="" th:action="@{/userhome/}+${id}+@{/doAddFavoriteRecipes}" method="post" >
    <h3  style=" margin-left: 550px" >Resturant's Meue</h3>
    <table style="border-collapse:separate; border-spacing:100px 10px;" align="center">
        <tr>
            <td>Recipes ID</td>
            <td>Recipes Name</td>
            <td>Recipes Description</td>
        </tr>
        <tr th:each="rec: ${AllRecipes}">
            <td th:text="${rec.getId()}"></td>
            <td th:text="${rec.getName()}"></td>
            <td th:text="${rec.getDesc()}"></td>
         </tr>
        <tr>
            <td>

                <input type="text" name="recipes_id" value="" placeholder="Your favorite recipes's id"  class="form-control" style="width: 150px;"/><br/>
            </td>
            <td>
                <input type="submit" value="Add to My Favorite List" class="btn btn-success" style="width: 155px;">
            </td>
            <td>

                <a th:href="@{/userhome/}+${id}" style="width: 150px;">
                    <input class="btn btn-default" type="button" value="Return to home page">
                </a>
            </td>
        </tr>
     </table>
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    <h3  style=" margin-left: 520px" >Your favorite recipes list</h3>
    <table style="border-collapse:separate; border-spacing:100px 10px; margin-left: 150px;" align="center">
        <tr>
            <td>Recipes ID</td>
            <td>Recipes Name</td>
            <td>Recipes Description</td>
        </tr>
        <tr th:each="rec: ${MyRecipes}">
            <td th:text="${rec.getId()}"></td>
            <td th:text="${rec.getName()}"></td>
            <td th:text="${rec.getDesc()}"></td>
        </tr>
    </table>
    </form>
</body>
</html>