<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Resturant</title>
</head>

<body>

    <table  align="center">
        <tr>
            <td ><input type="submit" onclick="window.location.href='http://localhost:8080/login'" value="     Login     " style="width: 150px;" /></td>
        </tr>
        <tr>
            <td ><input type="submit" onclick="window.location.href='http://localhost:8080/Register'" value="Registration" style="width: 150px;"/></td>
        </tr>
        <tr>
            <td ><input type="submit" onclick="window.location.href='http://localhost:8080/Cheflogin'" value="I'm chef" style="width: 150px;"/></td>
        </tr>
        <tr>
            <td ><input type="submit" onclick="window.location.href='http://localhost:8080/Adminlogin'" value="    I'm administrator    " style="width: 150px;"/></td>
        </tr>
    </table>

</body>
</html>
