<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>

<body>
<form name="" action="/doRegister" method="post" align="center">
    <h3>Create your accounnt</h3>

    <div style="margin-top: 0px; margin-left: 0px">
        <div>
            <input type="text" name="id" value="" placeholder="Account ID"
                   class="form-control" style="width: 200px"/><br/>
        </div>

        <div>
            <input type="text" name="username" value="" placeholder="NickName"
                   class="form-control" style="width: 200px;"/><br/>
        </div>

        <div>
            <input type="password" name="password" value="" placeholder="Password"
                   class="form-control" style="width: 200px;"/><br/>
        </div>


    <input type="submit" value="Register" class="btn btn-success"
           style="margin-left: 5px">
    </div>
</form>
</body>

</html>
